// Customizations BEGIN
@import "saturdays-bs/bootstrap";
// Customizations END

// Core Bootstrap
@import "bootstrap/bootstrap";

// App styles

#masthead {
  height: 528px;
  h1 {
    background: url('saturdays_logo.png') no-repeat;
    background-size: 509px 240px;
    height: 240px;
    @include hide-text();
    left: 50%;
    margin: -184px 0 0 -255px;
    position: absolute;
    top: 50%;
    width: 509px;
  }
}

@media (max-width: $screen-xs-max) {
  #masthead {
    height: 240px;
    h1 {
      background-size: 255px 120px;
      height: 120px;
      margin: -80px 0 0 -128px;
      width: 255px;
    }
  }
}

#home-activities {
  .home-activity {
    font-size: $font-size-h3;
    height: 192px;
    padding: 0;
    position: relative;
    a {
      color: white;
      display: block;
      font-weight: bold;
      line-height: 192px;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: $zindex-navbar;
    }
  }
}